{% extends 'base.html' %}

{% block content %}

<a href="/add/" class="btn">
    Add Employee
</a>

<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

    {% for emp in employees %}

    <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.salary }}</td>

        <td>
            <a href="/delete/{{ emp.id }}/"
               class="delete">
               Delete
            </a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}